In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np
import requests
import re

/usr/lib/python3/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [26]:
# importo dal df con i risultati Google, in modo da avere già l'elenco delle città
booking_results = pd.read_csv('google_results.csv')
booking_results['risultati'] = np.nan

booking_results

                       citta  risultati
0                     Austin        NaN
1                    Wrocław        NaN
2                  Innsbruck        NaN
3     Villefranche-sur-Saône        NaN
4                   Zakopane        NaN
...                      ...        ...
2398                  Veneto        NaN
2399                  Bastia        NaN
2400                 Laramie        NaN
2401            Longyearbyen        NaN
2402       Shijiazhuang City        NaN

[2403 rows x 2 columns]

In [4]:
# scraping dei risultati della ricerca su Booking, per ogni città

def start_soup(link):
    response = requests.get(link, headers=headers)
    response.raise_for_status()
    soup = BeautifulSoup(response.text, 'html.parser')
    return soup


def scraping(df):
    i=1
    for x in df['citta']:
        print(x,i)
        i+=1
        base_link = f"https://www.booking.com/searchresults.en-gb.html?ss={x}"

        try:
            results = start_soup(base_link).find("h1").text
            reg = re.search('(.*): (.*) properties found', results).group(2)
            print(reg)
            # inserisco il numero nel dataframe, in corrispondenza della città
            df['risultati'][df['citta'] == x] = reg
        except:
            df['risultati'][df['citta'] == x] = np.nan
    return df
            
# senza l'header mi restituisce la pagina di accettazione cookie, quindi non riesco a estrarre il numero di risultati
headers = {
    'User-agent':  'Mozilla/5.0 (X11; Linux x86_64; rv:99.0) Gecko/20100101 Firefox/99.0' }

booking_results = scraping(booking_results)

In [29]:
#salvo i risultati, anche se non sono quelli definitivi
booking_results.to_csv('booking_results_not_final.csv', index=False)
# vedo quali sono le città per le quali non sono stati trovati risultati
print(list(booking_results['citta'][booking_results['risultati'].isna()]))

['New York', 'Hyderabad', 'Moscow', 'Novosibirsk', 'Aegean', 'Creully sur Seulles', 'Maui County', 'Gevaş', 'Saint Petersburg', 'Waikoloa Village', 'Jinan City', 'Yinchuan City', 'Gemeinde Sölden', 'Xiamen City', 'Tehran', 'Maoming City', 'Shenyang City', 'Yantai City', 'Bolzano - Bozen', 'Reno Lake', 'Batna', 'Yiyang', 'Haikou City', 'Kharagpur', 'Medina County', 'Wollongong City Council', 'Havana', 'Columbia County', 'Asan-si', 'Hainan Province', 'Kolonnawa', 'Nagano Prefecture', 'Castelló / Castellón', 'Yangzhou City', 'City of Bradford', 'Bhubaneswar (M.Corp.)', 'Bellevue', 'Hongzhou', 'Changchun City', 'Provincia di Trento', 'Regina', 'Larissa', 'Sanya City', 'Wuxi City', 'Poultney', 'Općina Konavle', 'Taoyuan City', 'Constance', 'Yaroslavl', 'Листвянское городское поселение', 'Urbana', 'Kazan', 'Piran / Pirano', 'Whistler Resort Municipality', 'Yekaterinburg', 'City of Saratoga Springs', 'Shiraz', 'Guangdong Province', 'Alabama', 'Albemarle County', 'Mashhad', 'Saasveld', 'Isfahan', 'Togo', 'District of Trnava', 'Town of Oyster Bay', 'Brunswick County', 'South Hams', 'Irsee', 'County Durham', 'Lijiang City', 'Komae', 'Petrozavodsk', 'Caapiranga', 'Volgograd', 'Nizhny Novgorod', 'Phường Chính Gián', 'Memphrémagog', 'Tripoli', 'Calbuco', 'Irkutsk', 'Fukui Prefecture', 'Odisha', 'Ecatepec', 'Baton Rouge', 'Murakami', 'Ankara', 'Aosta Valley', 'City of Sarajevo', 'Municipality of Mykonos', 'Imbana', 'Minsk', 'Catalonia', 'Changle', 'Mysuru', 'Palladam', 'Cary', 'Iskandar Puteri', 'Suffolk County', 'Chunchura', 'Fairfax County', 'Prayagraj', 'Kaskelen', 'Pilani', 'Borgholms kommun', 'Koper / Capodistria', 'Town of Mount Pleasant', 'West Goshen Township', "Circolo dell'Isole", 'Tung Chung', 'Malacca City', 'Henan', 'Lowell', 'Beidaihe', 'Blackrock', 'Krasnoyarsk Krai', 'El Oued', 'Elx / Elche', 'Ibaraki Prefecture', 'Gijón / Xixón', 'Gurugram', 'Port Jefferson', 'Ostritz', 'Sochi', 'Stadt Kufstein', 'City of Edinburgh', 'Qufu City', 'Dornburg', 'Καστοριά', 'Somerset Township', 'Fribourg - Freiburg', 'Leitchfield', 'Concord', 'Bangi Lama', 'Zhaoqing City', 'Gangneung-si', 'Bezirk Oberpullendorf', 'Lexington', 'East Whiteland Township', 'San Andrés Cholula', 'Rio Arriba County', 'Moncarapacho e Fuseta', '(Old) Ottawa', 'Las Piñas', 'Saratov', 'Shaker Heights', 'Ezhou', 'Penukonda', 'Choroní', 'Taganrog', 'Merced County', 'Old Town', 'South Oxfordshire', 'Bassa Reggiana', 'La Jacques-Cartier', 'Cantón Carrillo', 'Gotenba', 'Quang Binh province', 'Scottish Highlands', 'Saue vald', 'West Point', 'Phu Quoc City', 'Tianguistengo', 'Canton Luxembourg', 'Cantón San Carlos', 'District of Tuggeranong', 'Comunità territoriale della Val di Fiemme', 'South Cyprus', 'Budmerice', 'Angleur', 'Seika', 'Summit County', 'Maricopa County', 'Adelphi', 'Região Geográfica Imediata de Tarauacá', 'Klützer Winkel', 'Unorganized Kenora District', 'Houthalen-Helchteren', 'County Meath', 'Interlaken-Oberhasli administrative district', 'Lephalale Local Municipality', 'Maritime Alps', 'Veliky Novgorod', 'Izola / Isola', 'Plymouth County', 'Thai Nguyen city', 'Avalon', 'San Joaquin County', 'Одинцовский городской округ', 'Walker County', 'IJsselstein', 'Bani Sweif', "Prince George's County", 'Pullman', 'Cencun', 'Mandi', 'Neubiberg', 'eDumbe Local Municipality', 'Chiguayante', 'Ramadi', 'Tver', 'Laghouat', 'Los Alamos', 'Nomi', 'Allerdale', 'Voronezh', 'Fuyang City', 'Tebessa', 'Gandia', 'Kaliningrad', 'Indramayu Regency', 'Мичуринский сельсовет', 'Steinfeld', 'Assis Chateaubriand', 'Ying County', 'Mauna Kea', 'Saint Louis County', 'Boxing County', 'Dolgoprudny', 'Newton Mearns', 'Howard County', 'Tatarstan', 'Cedillo', 'Huludao City', 'Barguna Sadar Subdistrict', 'Tonalá', 'Nadroga-Navosa', 'Valencian Community', 'Central Bedfordshire', 'Akron', 'Yalta', 'Vladivostok', 'Villa Clara', 'Sosnoviy Bor']

In [5]:
"""Osservazioni sulle città senza risultati:
    1) alcune di queste sono russe, e Booking al momento non permette la prenotazione di alloggi
       in Russia.
    2) molte hanno il suffisso "city", che non appartiene al nome vero e proprio della città.
       Lo elimino e rieseguo la ricerca. La rieseguo
       soltanto sulle città che non avevano restituito un valore (è inutie rieseguirlo sulle
       città per le quali ho già dei risultati).
"""

def cut(citta):
    if citta.endswith('City'):
        return re.sub(r"City$", '', citta)
    return citta

booking_results['citta'] = booking_results['citta'].map(cut)

booking_results_no_city_suffix = scraping(booking_results[booking_results['risultati'].isna()])
booking_results_no_city_suffix

New York 1
581
Hyderabad 2

/home/marco/.local/lib/python3.8/site-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

364
Moscow 3
Novosibirsk 4
Aegean 5
Creully sur Seulles 6
Maui County 7
Gevaş 8
Saint Petersburg 9
Waikoloa Village 10
Jinan  11
98
Yinchuan  12
32
Gemeinde Sölden 13
Xiamen  14
94
Tehran 15
Maoming  16
10
Shenyang  17
66
Yantai  18
41
Bolzano - Bozen 19
Reno Lake 20
Batna 21
Yiyang 22
Haikou  23
68
Kharagpur 24
Medina County 25
Wollongong City Council 26
Havana 27
Columbia County 28
Asan-si 29
Hainan Province 30
Kolonnawa 31
Nagano Prefecture 32
Castelló / Castellón 33
Yangzhou  34
35
City of Bradford 35
Bhubaneswar (M.Corp.) 36
Bellevue 37
Hongzhou 38
Changchun  39
43
Provincia di Trento 40
Regina 41
Larissa 42
Sanya  43
148
Wuxi  44
85
Poultney 45
Općina Konavle 46
Taoyuan  47
35
Constance 48
Yaroslavl 49
Листвянское городское поселение 50
Urbana 51
Kazan 52
Piran / Pirano 53
Whistler Resort Municipality 54
Yekaterinburg 55
City of Saratoga Springs 56
Shiraz 57
Guangdong Province 58
Alabama 59
Albemarle County 60
Mashhad 61
Saasveld 62
Isfahan 63
Togo 64
District of Trnava 65
Town of Oyster Bay 66
Brunswick County 67
South Hams 68
Irsee 69
County Durham 70
Lijiang  71
96
Komae 72
Petrozavodsk 73
Caapiranga 74
Volgograd 75
Nizhny Novgorod 76
Phường Chính Gián 77
Memphrémagog 78
Tripoli 79
Calbuco 80
Irkutsk 81
Fukui Prefecture 82
Odisha 83
Ecatepec 84
Baton Rouge 85
83
Murakami 86
Ankara 87
177
Aosta Valley 88
City of Sarajevo 89
Municipality of Mykonos 90
Imbana 91
Minsk 92
Catalonia 93
Changle 94
Mysuru 95
Palladam 96
Cary 97
Iskandar Puteri 98
Suffolk County 99
Chunchura 100
Fairfax County 101
Prayagraj 102
Kaskelen 103
Pilani 104
Borgholms kommun 105
Koper / Capodistria 106
Town of Mount Pleasant 107
West Goshen Township 108
Circolo dell'Isole 109
Tung Chung 110
Malacca  111
895
Henan 112
Lowell 113
Beidaihe 114
Blackrock 115
Krasnoyarsk Krai 116
El Oued 117
Elx / Elche 118
Ibaraki Prefecture 119
Gijón / Xixón 120
Gurugram 121
Port Jefferson 122
Ostritz 123
Sochi 124
Stadt Kufstein 125
City of Edinburgh 126
Qufu  127
7
Dornburg 128
Καστοριά 129
Somerset Township 130
Fribourg - Freiburg 131
Leitchfield 132
Concord 133
Bangi Lama 134
Zhaoqing  135
8
Gangneung-si 136
Bezirk Oberpullendorf 137
Lexington 138
East Whiteland Township 139
San Andrés Cholula 140
Rio Arriba County 141
Moncarapacho e Fuseta 142
(Old) Ottawa 143
Las Piñas 144
Saratov 145
Shaker Heights 146
Ezhou 147
Penukonda 148
Choroní 149
Taganrog 150
Merced County 151
Old Town 152
South Oxfordshire 153
Bassa Reggiana 154
La Jacques-Cartier 155
Cantón Carrillo 156
Gotenba 157
Quang Binh province 158
Scottish Highlands 159
Saue vald 160
799
West Point 161
Phu Quoc  162
437
Tianguistengo 163
Canton Luxembourg 164
Cantón San Carlos 165
District of Tuggeranong 166
Comunità territoriale della Val di Fiemme 167
South Cyprus 168
Budmerice 169
Angleur 170
Seika 171
Summit County 172
Maricopa County 173
Adelphi 174
Região Geográfica Imediata de Tarauacá 175
Klützer Winkel 176
Unorganized Kenora District 177
Houthalen-Helchteren 178
County Meath 179
Interlaken-Oberhasli administrative district 180
Lephalale Local Municipality 181
Maritime Alps 182
Veliky Novgorod 183
Izola / Isola 184
Plymouth County 185
Thai Nguyen city 186
Avalon 187
San Joaquin County 188
Одинцовский городской округ 189
Walker County 190
IJsselstein 191
Bani Sweif 192
Prince George's County 193
Pullman 194
Cencun 195
Mandi 196
Neubiberg 197
eDumbe Local Municipality 198
Chiguayante 199
Ramadi 200
Tver 201
Laghouat 202
Los Alamos 203
Nomi 204
Allerdale 205
Voronezh 206
Fuyang  207
28
Tebessa 208
Gandia 209
Kaliningrad 210
Indramayu Regency 211
Мичуринский сельсовет 212
Steinfeld 213
Assis Chateaubriand 214
Ying County 215
Mauna Kea 216
Saint Louis County 217
Boxing County 218
Dolgoprudny 219
Newton Mearns 220
Howard County 221
Tatarstan 222
Cedillo 223
Huludao  224
4
Barguna Sadar Subdistrict 225
Tonalá 226
Nadroga-Navosa 227
70
Valencian Community 228
Central Bedfordshire 229
Akron 230
Yalta 231
Vladivostok 232
Villa Clara 233
Sosnoviy Bor 234

             citta risultati
24        New York       581
34       Hyderabad       364
71          Moscow       NaN
84     Novosibirsk       NaN
97          Aegean       NaN
...            ...       ...
2378         Akron       NaN
2379         Yalta       NaN
2380   Vladivostok       NaN
2389   Villa Clara       NaN
2390  Sosnoviy Bor       NaN

[234 rows x 2 columns]

In [7]:
# vedo se ho ottenuto nuovi valori: ce ne sono 25 (234-209)
print(booking_results_no_city_suffix[booking_results_no_city_suffix['risultati'].isna()])

# aggiungo questi nuovi risultati al primo dataset
final_df = pd.merge(booking_results, booking_results_no_city_suffix, on='citta', how='left')
final_df['risultati_x']= np.where(final_df['risultati_y'].isna(), final_df['risultati_x'], final_df['risultati_y'])

final_df = final_df.drop('risultati_y', axis=1).rename(columns='')

final_df

                       citta risultati_x
0                     Austin         639
1                    Wrocław         970
2                  Innsbruck         288
3     Villefranche-sur-Saône          16
4                   Zakopane       2,227
...                      ...         ...
2398                  Veneto      14,714
2399                  Bastia         177
2400                 Laramie          33
2401            Longyearbyen          12
2402           Shijiazhuang           16

[2403 rows x 2 columns]

In [100]:
final_df.to_csv('booking_results.csv', index=False)