In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np

In [2]:
conf = pd.read_csv('open_and_dblp.csv')
conf.sort_values(by="url", inplace=True)
conf['location']=""
conf

                         url  Citazioni location
0       conf/3dgis/3dgis2006         86
1        conf/3dica/3dic1997         42
2       conf/3dica/3dica1998         75
3       conf/3dica/3dica1999         50
4       conf/3dica/3dica2000         94
...                      ...        ...      ...
21666     conf/xsym/xsym2010         21
21667       conf/zif/zif2006         93
21668  series/sapere/sapere5         89
21669      series/sci/sci471         15
21670      series/sci/sci578         10

[21671 rows x 3 columns]

In [35]:
def get_location (url):
    link = "https://dblp.org/db/" + url
    response = requests.get(link)
    try:
        response.raise_for_status()
        soup = BeautifulSoup(response.text, 'html.parser').h1.string
        return soup.split(":")[1].lstrip('\n')
    except:
        return ''

conf['location'] = conf['url'].map(get_location)
conf.to_csv('conf_luoghi.csv', index= False)

In [37]:
conf

                         url  Citazioni                          location
0       conf/3dgis/3dgis2006         86            Kuala Lumpur, Malaysia
1        conf/3dica/3dic1997         42                 San Jose, CA, USA
2       conf/3dica/3dica1998         75                 San Jose, CA, USA
3       conf/3dica/3dica1999         50                 San Jose, CA, USA
4       conf/3dica/3dica2000         94                 San Jose, CA, USA
...                      ...        ...                               ...
21666     conf/xsym/xsym2010         21                         Singapore
21667       conf/zif/zif2006         93                Bielefeld, Germany
21668  series/sapere/sapere5         89              Thessaloniki, Greece
21669      series/sci/sci471         15   Brest,\nFrance - Best of Volume
21670      series/sci/sci578         10

[21671 rows x 3 columns]

In [3]:
conf = pd.read_csv('conf_luoghi.csv')
conf['location'] = conf['location'].str.lstrip(' \t')
conf.sort_values(by="location", inplace=True)
conf.to_csv('conf_luoghi.csv', index= False)

In [2]:
conf = pd.read_csv('conf_luoghi.csv')
conf

                            url  Citazioni                           location
0          conf/bnaic/bnaic2018          4  's-Hertogenbosch, The Netherlands
1              conf/ida/ida2018         22  's-Hertogenbosch, The Netherlands
2        conf/gosler/gosler1995         92                               1995
3            conf/wsna/wsna2003       1162                               2003
4         conf/birthday/csp2004        160                               2004
...                         ...        ...                                ...
21666  conf/wopplot/wopplot1989         49                                NaN
21667        conf/wote/lncs6000        144                                NaN
21668         conf/www/www2004a       1953                                NaN
21669          conf/xml/xml2003         68                                NaN
21670         series/sci/sci578         10                                NaN

[21671 rows x 3 columns]

# DA QUI INZIA LA PARTE DI PULIZIA DEI LUOGHI, NON CONCLUSA

In [5]:
# come elimino dopo un certo carattere ? espressioni regolari
# come elimino tra un carattere  e l'altro ? (parentesi). sempre espr regolari ? 
#  elimino con replace('') 

# per lo slash : doppio if ? prima vedo se c'è e poi vedo se non c'è una virgola. è la stessa
# cosa del trattino !!
""" 1.
    2. trattino
    3. anni
    4. / 
    5. ()
    """

' 1.\n    2. trattino\n    3. anni\n    4. / \n    5. ()\n    '

In [57]:
#provo a fare tutto in una funzione
""" devo controllare che:
    1. ci sia un  - /  : (find)
         se c'è virgola dopo il segno allora lascia, 
       elimina tutto quello che c'è dopo
       ho bisogno della posizione che mi restituisce find perchè da li devo  controllare se c'è la virgola"""

def clean (conf, x):
    #creo una colonna con la posizione in cui si trova il segno -
    conf['positions'] = conf['location'].str.find(x)
    
    print(conf['positions'].map(lambda x : int(x)))
    b = 'oo'
    b.find(x)
    #np.where((conf['positions'] > -1 & conf['location'][conf['positions']:].find(',') == -1), conf['location'], conf['location'][:conf['positions']] )
    #print(place)
    
    
clean(conf, '-')
#conf['location'] = conf['location'].map(clean)                                                  
#conf['location'] = conf['location'].map(lambda x : x.find('-')>-1)
#places= conf['location'][conf['location'].str.find('-') > -1 ]

SyntaxError: invalid syntax (1632200084.py, line 11)

In [37]:
print(places.size)

1296

In [24]:
print(conf['location'][(conf['location'].str.find('/') > -1) & (conf['location'].str.find('-') > -1) ])

487            Amsterdam, The Netherlands - BPMDS / EMMSAD
488             Amsterdam, The Netherlands - CIAO! / EOMAS
818                             Athens, Greece - DPM/SETOP
2936                       Bridgeport, CT, USA - EIAT/IETA
5318                 Dubrovnik/Cavtat, Croatia - Workshops
5487                                 Egham, UK - DPM/SETOP
5907                   Frankfurt/Main, Germany - Workshops
6142                       Gdańsk, Poland - BPMDS / EMMSAD
6975                    Hammamet, Tunisia - BPMDS / EMMSAD
9368                           Leuven, Belgium - DPM/SETOP
9694     Lisbon, Portugal / Madrid, Spain / Seville, Sp...
9750                  Ljubljana, Slovenia - BPMDS / EMMSAD
9967                           London, UK - BPMDS / EMMSAD
10687                       Marcq-en-Baroeul/Lille, France
11326                  Montpellier, France - CIAO! / EOMAS
13900                              Pisa, Italy - DPM/SETOP
14985                  Reno/Tahoe, Nevada, USA - Companion
14986                    Reno/Tahoe, Nevada, USA - PSI EtA
14987                Reno/Tahoe, Nevada, USA - Proceedings
15535                       Saint-Malo, France - DPM/SETOP
17932                   Stockholm, Sweden - BPMDS / EMMSAD
18554                Thessaloniki, Greece - BPMDS / EMMSAD
19551                     Valencia, Spain - BPMDS / EMMSAD
20713                     Wroclaw, Poland - DPM/SETOP/QASA
Name: location, dtype: object

In [17]:
print(conf['location'][conf['location'].str.find('/') > -1])

487      Amsterdam, The Netherlands - BPMDS / EMMSAD
488       Amsterdam, The Netherlands - CIAO! / EOMAS
693      Asilomar State Beach/Pacific Grove, CA, USA
695                  Asilomar/Pacific Grove, CA, USA
818                       Athens, Greece - DPM/SETOP
                            ...
20329                        Waidhofen/Ybbs, Austria
20351                                 Walldorf/Baden
20652                                   Wingst/Stade
20713               Wroclaw, Poland - DPM/SETOP/QASA
20893               Xi'an, China / San José, CA, USA
Name: location, Length: 181, dtype: object

In [18]:
print(conf['location'][conf['location'].str.find('-') > -1])

0        's-Hertogenbosch, The Netherlands
1        's-Hertogenbosch, The Netherlands
58       Aachen, Germany - Selected Papers
59             Aachen, Germany - Workshops
84            Aalborg, Denmark - Workshops
                       ...
21184       Zurich, Switzerland - Volume 4
21185       Zurich, Switzerland - Volume 4
21186       Zurich, Switzerland - Volume 5
21187       Zurich, Switzerland - Volume 6
21188       Zurich, Switzerland - Volume 7
Name: location, Length: 1296, dtype: object

In [19]:
print(conf['location'][conf['location'].str.find('+') > -1])

2055    Bergen, Norway + related Dagstuhl Workshop
Name: location, dtype: object